*{
  background: #E5E5E5;
  margin: 0;
  padding: 0;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo{
  margin: 20px auto;
  display: inline;
}

main{
  display: flex;
  /* flex-direction: row; */
}

/* section{
  flex-direction: row;
} */

.caja-resultado{
  border: 2px solid red;
  /* margin-left: 0; */
  width: 400px;
  height: 944px;
  top: 0px;
  left: 1000px;
  border-radius: 32px;
  margin: 40px 40px;
  position: absolute;
  
}

.input-text{
  margin-top: 90px;
}

.input-text-area{
  border: none;
  margin-top:30px ;
  /* position: relative; */
  width: 100%;
}

.muneco{
  display: block;
}
